.color-picker-container {
    padding: 5%;
    margin-bottom: 5%
}

.slider {
    margin-bottom: 1rem;
}

h6 {
    //vertical-align: middle;
    padding: 1rem;
}

#switch-container {
    margin-top: 2%;
    margin-bottom: 2%;
}